:root {
  --main-color: #5a1d1d;
  --sec-color: #e7e1e3;
  --thrd-color: #ffaaaa;
  --main-bg: #282c34;
}

svg.bg path {
  fill: var(--main-bg)
}

#Layer_1{
  fill: var(--main-bg)
}

.bg-light {
  fill: var(--sec-color)
}

.pos-rel{
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}